@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}



.topsection {
    color: white;
    padding: 50px 0px;
    height: 400px;
    background-color: #1F2937;
    margin-bottom: 40px;
}

    .spacer {
        width: 1000px;
        margin: 0 auto;
    }



    .topbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .headerlogo {
        font-size: 24px;
        font-weight: bold;
        color: #F9FAF8;
    }



    .headerlinks {
        display: flex;
        gap: 10px;
    }

    .headerlinks a {
        color: #F9FAF8;
        text-decoration: none;
    }


    .hero {
        display: flex;
    }

    .hero > div {
        flex: 1;
    }



.herointro h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;

}

.herointro h4 {
    margin-top: -25px;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;

}

.herointro button {
    font-family: 'Roboto';
    font-weight: 400;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 13px 45px; 
    border: 0px;
    border-radius: 10px;
    margin-top: -10px;
}

.heroimage {
    background-color: lightgray;
    height: auto;
}




.infosection {
    height: 400px;
    margin: 0 auto;
    width: 700px;
}

.infohead {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.boxarray {
    display: flex;
}

.boxarray {
    justify-content: space-between;
}

.infobox {
    height: 140px;
    width: 140px;
    border: 4px #3882F6 solid;
    border-radius: 20px;
}

.boxarray p {
    color: #8c8f93;
    width: 150px;
    text-align: center;
}

.quotesection {
    background-color: #E5E7EB;
    padding: 80px 0px;
}

.spacer-quote {
    width: 800px;
    margin: 0 auto;
}

.spacer-quote h1 {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.spacer-quote p {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin-top: -40px;
}


.signupsection {
    padding: 130px 0px;
}

.bluebox {
    background-color: #3882F6;
    height: 150px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bluebox > div > p {
    color: #E5E7EB;
}

.bluebox > div > button {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-size: 18px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 5px 30px;
}

.footer {
    color: white;
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
}